.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	cursor: pointer;
}
.image-wrapper {
	position: relative;
	max-width: max-content;
	margin: 0 auto;
}

.image-view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#image {
	width: 750px;
	height: auto;
}
